In [26]:
import csv

In [27]:
f = open('PyBank_budget_data.csv')

In [28]:
csv_f = csv.reader(f)

In [29]:
Months = []
profit_losses = []

In [30]:
csv_header = next(csv_f)

print(csv_header)

['Date', 'Profit/Losses']

In [31]:
for row in csv_f:
    Months.append(row[0])
    profit_losses.append (row[1])

In [32]:
print (Months)

['Jan-2010', 'Feb-2010', 'Mar-2010', 'Apr-2010', 'May-2010', 'Jun-2010', 'Jul-2010', 'Aug-2010', 'Sep-2010', 'Oct-2010', 'Nov-2010', 'Dec-2010', 'Jan-2011', 'Feb-2011', 'Mar-2011', 'Apr-2011', 'May-2011', 'Jun-2011', 'Jul-2011', 'Aug-2011', 'Sep-2011', 'Oct-2011', 'Nov-2011', 'Dec-2011', 'Jan-2012', 'Feb-2012', 'Mar-2012', 'Apr-2012', 'May-2012', 'Jun-2012', 'Jul-2012', 'Aug-2012', 'Sep-2012', 'Oct-2012', 'Nov-2012', 'Dec-2012', 'Jan-2013', 'Feb-2013', 'Mar-2013', 'Apr-2013', 'May-2013', 'Jun-2013', 'Jul-2013', 'Aug-2013', 'Sep-2013', 'Oct-2013', 'Nov-2013', 'Dec-2013', 'Jan-2014', 'Feb-2014', 'Mar-2014', 'Apr-2014', 'May-2014', 'Jun-2014', 'Jul-2014', 'Aug-2014', 'Sep-2014', 'Oct-2014', 'Nov-2014', 'Dec-2014', 'Jan-2015', 'Feb-2015', 'Mar-2015', 'Apr-2015', 'May-2015', 'Jun-2015', 'Jul-2015', 'Aug-2015', 'Sep-2015', 'Oct-2015', 'Nov-2015', 'Dec-2015', 'Jan-2016', 'Feb-2016', 'Mar-2016', 'Apr-2016', 'May-2016', 'Jun-2016', 'Jul-2016', 'Aug-2016', 'Sep-2016', 'Oct-2016', 'Nov-2016', 'Dec-2016', 'Jan-2017', 'Feb-2017']

In [33]:
print (profit_losses)

['867884', '984655', '322013', '-69417', '310503', '522857', '1033096', '604885', '-216386', '477532', '893810', '-80353', '779806', '-335203', '697845', '793163', '485070', '584122', '62729', '668179', '899906', '834719', '132003', '309978', '-755566', '1170593', '252788', '1151518', '817256', '570757', '506702', '-1022534', '475062', '779976', '144175', '542494', '359333', '321469', '67780', '471435', '565603', '872480', '789480', '999942', '-1196225', '268997', '-687986', '1150461', '682458', '617856', '824098', '581943', '132864', '448062', '689161', '800701', '1166643', '947333', '578668', '988505', '1139715', '1029471', '687533', '-524626', '158620', '87795', '423389', '840723', '568529', '332067', '989499', '778237', '650000', '-1100387', '-174946', '757143', '445709', '712961', '-1163797', '569899', '768450', '102685', '795914', '60988', '138230', '671099']

In [34]:
print (len(Months))
print (len(profit_losses))

86
86

In [35]:

ints = [int(item) for item in profit_losses]
print(ints)

[867884, 984655, 322013, -69417, 310503, 522857, 1033096, 604885, -216386, 477532, 893810, -80353, 779806, -335203, 697845, 793163, 485070, 584122, 62729, 668179, 899906, 834719, 132003, 309978, -755566, 1170593, 252788, 1151518, 817256, 570757, 506702, -1022534, 475062, 779976, 144175, 542494, 359333, 321469, 67780, 471435, 565603, 872480, 789480, 999942, -1196225, 268997, -687986, 1150461, 682458, 617856, 824098, 581943, 132864, 448062, 689161, 800701, 1166643, 947333, 578668, 988505, 1139715, 1029471, 687533, -524626, 158620, 87795, 423389, 840723, 568529, 332067, 989499, 778237, 650000, -1100387, -174946, 757143, 445709, 712961, -1163797, 569899, 768450, 102685, 795914, 60988, 138230, 671099]

In [36]:
sum(ints)

TypeError: 'int' object is not callable

In [51]:
index  = ints
index

[-1196225,
 -1163797,
 -1100387,
 -1022534,
 -755566,
 -687986,
 -524626,
 -335203,
 -216386,
 -174946,
 -80353,
 -69417,
 60988,
 62729,
 67780,
 87795,
 102685,
 132003,
 132864,
 138230,
 144175,
 158620,
 252788,
 268997,
 309978,
 310503,
 321469,
 322013,
 332067,
 359333,
 423389,
 445709,
 448062,
 471435,
 475062,
 477532,
 485070,
 506702,
 522857,
 542494,
 565603,
 568529,
 569899,
 570757,
 578668,
 581943,
 584122,
 604885,
 617856,
 650000,
 668179,
 671099,
 682458,
 687533,
 689161,
 697845,
 712961,
 757143,
 768450,
 778237,
 779806,
 779976,
 789480,
 793163,
 795914,
 800701,
 817256,
 824098,
 834719,
 840723,
 867884,
 872480,
 893810,
 899906,
 947333,
 984655,
 988505,
 989499,
 999942,
 1029471,
 1033096,
 1139715,
 1150461,
 1151518,
 1166643,
 1170593]

In [38]:

for x in range(0,90):
    ints.sort(key=int)

print(ints)

[-1196225, -1163797, -1100387, -1022534, -755566, -687986, -524626, -335203, -216386, -174946, -80353, -69417, 60988, 62729, 67780, 87795, 102685, 132003, 132864, 138230, 144175, 158620, 252788, 268997, 309978, 310503, 321469, 322013, 332067, 359333, 423389, 445709, 448062, 471435, 475062, 477532, 485070, 506702, 522857, 542494, 565603, 568529, 569899, 570757, 578668, 581943, 584122, 604885, 617856, 650000, 668179, 671099, 682458, 687533, 689161, 697845, 712961, 757143, 768450, 778237, 779806, 779976, 789480, 793163, 795914, 800701, 817256, 824098, 834719, 840723, 867884, 872480, 893810, 899906, 947333, 984655, 988505, 989499, 999942, 1029471, 1033096, 1139715, 1150461, 1151518, 1166643, 1170593]

In [39]:
sum = 0
for number in ints:
    if number < 0:
        sum += number
        
print(sum)

-7327426

In [40]:
sum = 0
for number in ints:
    if number > 0:
        sum += number
        
print(sum)

45710004

In [41]:
def average_change(first, last):
    avg_calc = [index() - index(-1) / (len(Months) - 1)]
    return avg_calc
print(avg_calc)

NameError: name 'avg_calc' is not defined

In [42]:
average_change = (totalprofit_losses-losses)

NameError: name 'totalprofit_losses' is not defined

In [22]:
print (average_change)

<function average_change at 0x10d0f5820>